<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TellTeddie.Web.styles.css" />
    <link rel="icon" type="image/png" href="assets/icons/favicon.ico" />
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
    <!-- Wavesurfer.js Library (local from npm) -->
    <script src="lib/wavesurfer/wavesurfer.min.js"></script>
    <!-- Wavesurfer Record Plugin -->
    <script src="lib/wavesurfer/plugins/record.min.js"></script>
    
    <script src="js/wavesurferRecorder.js"></script>
    <script src="js/wavesurferPlayer.js"></script>
</body>

</html>

